---
nav:
  Home: "/"
  Blog: "/blog"
  About: "/about"
  Git: "/cgit"
---
<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta property="og:locale content=en_GB">
		<title property="og:title">{{ title or metadata.title }}</title>
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="description" property="og:description content="{{ description or data.metadata }}">
		<meta property="og:type" content="website">
		{% if keywords %}
		<meta name="keywords" contents="{{ keywords | join }}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="twitter:card" content="summary">
		<meta property=og:url content="{{ page.url | absoluteUrl(metadata.url)}}">
		<link rel="canonical" href="{{ page.url | absoluteUrl(metadata.url)}}">
		<link rel="alternate" href="{{ metadata.feed.atom }}" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="{{ metadata.feed.json }}" type="application/feed+json" title="{{ metadata.title }}">
		<meta property="og:image" content="/favicon/1024.png">
		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="icon" href="/favicon/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/favicon/192.png">
		<link rel="manifest" href="/app.webmanifest">
		<link rel="stylesheet" href="/assets/index.css">
		<link rel="stylesheet" href="/vendor/prism.css">
		<script type="module" src="/assets/index.js" defer></script>
	</head>
	<body>
		<header>
			<nav>
				<a href="#" id="nav-toogle">Sudomsg</a>
				{% for name, location in nav %}
				<a class="navlinks" href="{{location}}" >{{name}}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			Subscribe: <a href="{{metadata.feed.atom}}">RSS</a> <a href="{{ metadata.feed.json }}">JSON</a>
		</footer>
	</body>
</html>
