/**modified from the default highlight theme**/
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
	color: rgb(83, 83, 0);
}

@media (prefers-color-scheme: dark) {

	.hljs-keyword,
	.hljs-selector-tag,
	.hljs-literal,
	.hljs-section,
	.hljs-link {
		color: yellow;
	}
}


.hljs-string {
	color: darkviolet;
}

@media (prefers-color-scheme: dark) {
	.hljs-string {
		color: violet;
	}
}

.hljs-type,
.hljs-template-tag {
	color: darkblue;
}

@media (prefers-color-scheme: dark) {
	.hljs-type,
	.hljs-template-tag  {
		color: lightblue;
	}
}

.hljs-title,
.hljs-name,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
	color: darkred;
}

@media (prefers-color-scheme: dark) {

	.hljs-title,
	.hljs-name,
	.hljs-attribute,
	.hljs-symbol,
	.hljs-bullet,
	.hljs-built_in,
	.hljs-addition,
	.hljs-variable,
	.hljs-template-variable {
		color: lightcoral;
	}
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
	color: darkgreen;
}

@media (prefers-color-scheme: dark) {

	.hljs-comment,
	.hljs-quote,
	.hljs-deletion,
	.hljs-meta {
		color: lightgreen;
	}
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
	font-weight: bold;
}

.hljs-emphasis {
	font-style: italic;
}