---
permalink: /app.webmanifest
---
{
  "$schema": "https://json.schemastore.org/web-manifest-combined.json",
  "name": "{{ metadata.title }}",
  
  "lang": "{{ metadata.language }}",
  "start_url": "/",
  "id": "/",
  "scope": "/",
  "display": "minimal-ui",
  "background_color": "{{ metadat.theme }}",
  "theme_color": "{{ metadat.theme }}",
  "description": "{{ metadata.description }}",
  "icons": [
{%- for size in [192,512,1024] %}
    { 
      "src": "/favicon/{{ size }}.png",
      "type": "image/png",
      "sizes": "{{ size }}x{{ size }}",
      "purpose": "maskable"
    }
        {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor -%}
  ]
}
