code[class*="language-"],
pre[class*="language-"] {
    color: rgb(248, 248, 242);
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}


/* Code blocks */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: rgb(39, 40, 34);
}


/* Inline code */

:not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: rgb(130, 146, 162);
}

.token.punctuation {
    color: rgb(248, 248, 242);
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: rgb(249, 38, 114);
}

.token.boolean,
.token.number {
    color: rgb(174, 129, 255);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: rgb(166, 226, 46);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: rgb(248, 248, 242);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: rgb(230, 219, 116);
}

.token.keyword {
    color: rgb(102, 217, 239);
}

.token.regex,
.token.important {
    color: rgb(253, 151, 31);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

@media screen and (prefers-color-scheme: dark) {
    code[class*="language-"],
    pre[class*="language-"] {
        color: #000000;
        text-shadow: 0 1px #ffffff;
    }
     :not(pre)>code[class*="language-"],
    pre[class*="language-"] {
        background: rgb(245, 242, 240);
    }
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: rgb(112, 128, 144);
    }
    .token.punctuation {
        color: rgb(153, 153, 153);
    }
    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: rgb(153, 0, 85);
    }
    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: rgb(102, 153, 0);
    }
    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
        color: rgb(154, 110, 58);
        background: rgba(255, 255, 255, 0.5);
    }
    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: rgb(0, 118, 168);
    }
    .token.function,
    .token.class-name {
        color: rgb(221, 75, 104);
    }
    .token.regex,
    .token.important,
    .token.variable {
        color: rgb(238, 153, 0);
    }
}