code[class*="language-"],
pre[class*="language-"] {
  color: rgb(248 248 242);
  background: none;
  text-shadow: 0 1px rgb(0 0 0 / 30%);
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;

  @media screen and (prefers-color-scheme: dark) {
    code[class*="language-"],
    pre[class*="language-"] {
      color: #000;
      text-shadow: 0 1px #fff;
    }
  }
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgb(39 40 34);

  @media screen and (prefers-color-scheme: dark) {
    background: rgb(245 242 240);
  }
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(130 146 162);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(112 128 144);
  }
}

.token.punctuation {
  color: rgb(248 248 242);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(153 0 85);
  }
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: rgb(249 38 114);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(153 0 85);
  }
}

.token.boolean,
.token.number {
  color: rgb(174 129 255);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(153 0 85);
  }
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: rgb(166 226 46);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(102 153 0);
  }
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: rgb(248 248 242);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(154 110 58);
    background: rgb(255 255 255 / 50%);
  }
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: rgb(230 219 116);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(0 118 168);
  }
}

.token.keyword {
  color: rgb(102 217 239);

  @media screen and (prefers-color-scheme: dark) {
    color: rgb(221 75 104);
  }
}

.token.regex,
.token.important {
  color: rgb(253 151 31);

  @media screen (prefers-color-scheme: dark) {
    color: rgb(238 153 0);
  }
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
