---
layout: page
title: About Me
---

<h2>{{ metadata.author.name }}</h2>
<img alt="A Photo of me" src="{{ metadata.author.image}}" class="side">
<p>I am an analytical and passionate second year CHRIST University student pursuing B. Tech in Computer Engineering in Bengaluru. I am eager to further my knowledge, develop my skills and gain experience to convert my interest in computers into a fulfilling career.
<p>Contact Details
<ul>
<li><a href="mailto:{{ metadata.author.email }}">Email</a>
<li><a href="{{ metadata.author.github}}">Github</a>
<li><a href="{{ metadata.author.linkedin}}">LinkedIn</a>
</ol>
