:root {
	font-family: sans-serif;
}

@media screen {

	body {
		max-width: 920px;
		margin: auto;
		padding: 0.5rem;
	}

	:any-link {
		color: inherit;
		text-decoration: underline;
	}

	.menu :any-link {
		text-decoration: inherit;
	}

	.menu ul {
		background: darkred;
		color: white;
		padding: 1rem;
		font-size: 1rem;
	}

	.menu li {
		display: inline;
		margin-right: 1rem;
		padding-left: 0rem;
		padding-right: 0rem;
	}
	
	.err {
		color: darkred;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			background: black;
			color: white;
		}
		
		.menu ul {
			background: red;
		}
		
		.err {
			color: red;
		}

	}
}

@media print {
	header,nav,footer{
		display:none;
	}
}

