<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<meta property="og:locale" content="en_GB"/>
		<title>{{ title or metadata.title }}</title>
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="description" content="{{ description or metadata.description }}">
		<meta property="og:description" content="{{ description or metadata.description }}">
		<meta name="keywords" contents="{{ keywords }}">
		<meta name="generator" contents="eleventy">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="twitter:card" content="summary"></meta>
		<meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}"/>
		<link rel="canonical" href="{{ page.url | url | absoluteUrl(metadata.url) }}"/>
		<link async rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">
		<link rel="alternate" href="{{ metadata.feed | url }}" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="manifest" href="{{ '/app.webmanifest' | url }}" crossorigin="use-credentials">
		<meta name="theme-color" content"darkred">
		<link as="style" href="{{ '/index.css' | url }}" rel="stylesheet"/>
		{% if syntaxhighlight %}<link as="style" href="{{ '/prism.css' | url }}" rel="stylesheet"/>{% endif %}
		<script type="module" src="{{ '/index.js' | url }}"></script>
	</head>
	<body>
		<header>
			<nav id="menu">
				<a href="#">Sudomsg</a>
				{% for nav in navigator %}
					<a href="{{ nav.url | url }}">{{ nav.title }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			{{ content | safe }}
		</main>
		<footer>
			Subscribe: <a href="{{ '/feed.xml' | url }}" >RSS</a>
			<a href="{{ '/feed.json' | url }}" >JSON</a>
		</footer>
	</body>
</html>