---
layout: base.njk
tags:
	- posts
---
<article>
	<h1>{{ title }}</h1>
	<small>
		<time datetime="{{ date | datefmt }}">{{ date | datefmt }}</time> - <a href="{{ metadata.author.url }}">{{ metadata.author.name }}</a>
	</small>
	{{ content | safe }}
</article>